.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .6em;
    font-weight: bold;
}

.form_control input {
    padding: .7em;
    border-radius: 0;
    border: none;
    background-color: aliceblue;
}

.form_control input::placdholder {
    color: #7b7b7b;
}