.btn {
    width: 20%;
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover {
    color: #ffbb33;
}